<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gyh.gis.mapper.Device10minuteHistoryMapper">
    <resultMap id="BaseResultMap" type="com.gyh.gis.domain.Device10minuteHistory">
        <!--@mbg.generated-->
        <!--@Table device_10minute_history-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="station_id" jdbcType="INTEGER" property="stationId"/>
        <result column="value" jdbcType="DECIMAL" property="value"/>
        <result column="time" jdbcType="TIMESTAMP" property="time"/>
        <result column="alarm_state" jdbcType="VARCHAR" property="alarmState"/>
        <result column="cancel_alarm" jdbcType="BOOLEAN" property="cancelAlarm"/>
        <result column="cancel_time" jdbcType="TIMESTAMP" property="cancelTime"/>
        <result column="screenshot_url" jdbcType="VARCHAR" property="screenshotUrl"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        station_id,
        "value",
        "time",
        alarm_state,
        cancel_alarm,
        cancel_time,
        screenshot_url
    </sql>
    <select id="selectByTime" resultMap="BaseResultMap">
        select *
        from ${tableName}
        where "time" between #{startTime} and #{endTime}
        <if test="id != null">
            and station_id = #{id}
        </if>
    </select>
    <select id="selectFirst" resultMap="BaseResultMap">
        select *
        from ${tableName}
        <if test="id != null">
            where station_id = #{id}
        </if>
        order by "time"
        limit 1
    </select>

    <select id="selectAllByTime" resultMap="BaseResultMap">
        select *
        from ${tableName}
        where alarm_state = #{alarmState}
        and "time" between #{startTime} and #{endTime}
        <if test="cancelAlarm != null">
            and cancel_alarm = #{cancelAlarm,jdbcType=BOOLEAN}
        </if>
        <if test="stationIds != null and stationIds.size() != 0">
            and station_id in
            <foreach collection="stationIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.gyh.gis.domain.Device10minuteHistory">
        update ${tableName}
        <set>
            <if test="record.stationId != null">
                station_id = #{record.stationId,jdbcType=INTEGER},
            </if>
            <if test="record.value != null">
                "value" = #{record.value,jdbcType=DECIMAL},
            </if>
            <if test="record.time != null">
                "time" = #{record.time,jdbcType=TIMESTAMP},
            </if>
            <if test="record.alarmState != null">
                alarm_state = #{record.alarmState,jdbcType=VARCHAR},
            </if>
            <if test="record.cancelAlarm != null">
                cancel_alarm =  #{record.cancelAlarm,jdbcType=BOOLEAN},
            </if>
            <if test="record.cancelTime != null">
                cancel_time = #{record.cancelTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.screenshotUrl != null">
                screenshot_url = #{record.screenshotUrl,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{record.id,jdbcType=BIGINT}
    </update>
    <insert id="insertSelective" parameterType="com.gyh.gis.domain.Device10minuteHistory">
        insert into ${tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="record.id != null">
                id,
            </if>
            <if test="record.stationId != null">
                station_id,
            </if>
            <if test="record.value != null">
                "value",
            </if>
            <if test="record.time != null">
                "time",
            </if>
            <if test="record.alarmState != null">
                "alarm_state",
            </if>
            <if test="record.cancelAlarm != null">
                "cancel_alarm",
            </if>
            <if test="record.cancelTime != null">
                "cancel_time",
            </if>
            <if test="record.screenshotUrl != null">
                "screenshot_url",
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="record.id != null">
                #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.stationId != null">
                #{record.stationId,jdbcType=INTEGER},
            </if>
            <if test="record.value != null">
                #{record.value,jdbcType=DECIMAL},
            </if>
            <if test="record.time != null">
                #{record.time,jdbcType=TIMESTAMP},
            </if>
            <if test="record.alarmState != null">
                #{record.alarmState,jdbcType=VARCHAR},
            </if>
            <if test="record.cancelAlarm != null">
                #{record.cancelAlarm,jdbcType=BOOLEAN},
            </if>
            <if test="record.cancelTime != null">
                #{record.cancelTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.screenshotUrl != null">
                #{record.screenshotUrl,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="nextId" resultType="long">
        select nextval('device_10minute_history_id_seq')
    </select>
</mapper>