<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gyh.gis.mapper.TestMapper">
    <resultMap id="BaseResultMap" type="com.gyh.gis.domain.Test">
        <!--@mbg.generated-->
        <!--@Table test-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        "name",
        age
    </sql>
    <insert id="insertSelective" parameterType="com.gyh.gis.domain.Test">
        <!--@mbg.generated-->
        insert into ${tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="record.id != null">
                id,
            </if>
            <if test="record.name != null">
                "name",
            </if>
            <if test="record.age != null">
                age,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="record.id != null">
                #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.name != null">
                #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.age != null">
                #{record.age,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
</mapper>